<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<header class="site-navbar py-4" role="banner">

  <div class="container">
    <div class="row align-items-center">


      <div class="col-3">
        <h1 class="site-logo"><a href="{{site.url}}" class="h2">WebRadio<span class="text-primary">.</span> </a></h1>
      </div>
      <div class="col-9">
        <nav class="site-navigation position-relative text-right text-md-right" role="navigation">



          <div class="d-block d-lg-none ml-md-0 mr-auto"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li class="{% if page.url == '/' %}active{% endif %}">
              <a href="{{site.url}}">Accueil</a>
            </li>
            <li class="has-children">
              <a href="#">Catégories</a>
              <ul class="dropdown arrow-top">
                <li><a href="#">Culture</a></li>
                <li><a href="#">Films et Séries</a></li>
              </ul>
            </li>
            <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="{{site.url}}/about/">À Propos</a></li>
            <li><a href="https://lyc-sand.github.io/book-clubs/contact/">Nous Contacter</a></li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

</header>
