<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- metas seo
  ================================================== -->
  <meta name="title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site.url}}{{page.url}}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{{site.url}}/images/banner.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{site.url}}{{page.url}}">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="twitter:image" content="{{site.url}}/images/banner.png">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900">
  <link rel="stylesheet" href="{{site.url}}/fonts/icomoon/style.css">
  <link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.url}}/css/magnific-popup.css">
  <link rel="stylesheet" href="{{site.url}}/css/jquery-ui.css">
  <link rel="stylesheet" href="{{site.url}}/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{site.url}}/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
  <link rel="stylesheet" href="{{site.url}}/css/aos.css">
  <link rel="stylesheet" href="{{site.url}}/css/style.css">

  <!-- favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{site.url}}/siteicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{site.url}}/siteicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/siteicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/siteicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/siteicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/siteicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/siteicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/siteicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/siteicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/siteicons/apple-touch-icon-180x180.png">

</head>
